extends ../layout.jade
block vars
	- var title = 'Atrina | Новости'
	- var theme = 'news'
	- var onTop = true
block content
	aside
		include ../widgets/albums.jade
		include ../widgets/merch.jade
	.main
		h1 Новости
		article
			h2 Atrina ищет барабанщика!
			time(datetime="2014-07-27") 27&nbsp;июл 2014
			p 
				| Привет!<br>Требуется человек на постоянную основу, хорошо владеющий своим инструментом, преданный своему делу, от 16 до 25 лет.<br>
				strong Atrina with love.
		article
			h2 Вот это поворот!
			time(datetime="2014-07-16") 16&nbsp;июл 2014
			p 
				| Привет! <br>Мы прошли в полуфинал Captain Drake Fest!brУ нас есть немного фоток с 1/4 финала. Дата полуфинала указана на сайте и в группе ВК.Ждем вас!<br>
				strong Atrina with love.
		a(href="news4.html" class="next")
			div(class="arrow next")
	aside
		include ../widgets/rider.jade
		include ../widgets/video.jade