extends ../layout.jade
block vars
	- var title = 'Atrina | Новости'
	- var theme = 'news'
block content
	aside
		include ../widgets/albums.jade
		include ../widgets/merch.jade
	.main
		h1 Новости
		article
			<h2>Вести с полей
			time(datetime="2014-14-06") 14&nbsp;июн 2014
			p
				| Добрый вечер! Рады вам сообщить, что наш сайт переехал на новый хостинг и теперь его адрес: http://atrinaspb.ru/ А также скоро у нас намечено 3 выступления.С датами можно ознакомиться в специальном разделе.<br><strong>Atrina with love.</strong><br>P.S.А еще мы микрофончиками для записи обзавелись.Ы
		a(href="index.html" class="before")
			div(class="arrow before")
		a(href="news3.html" class="next")
			div(class="arrow next")
	aside
		include ../widgets/rider.jade
		include ../widgets/video.jade