extends ../layout.jade
block vars
	- var title = 'Atrina | Новости'
	- var theme = 'news'
block content
	aside
		include ../widgets/albums.jade
		include ../widgets/merch.jade
	.main
		h1 Новости
		article
			h2 Последние новости
			time(datetime="2013-23-03") 23&nbsp;мар 2014
			p
				| Группа Atrina прошла отборочный этап на рок-фест ИТМО. Так же мы отыграем на «Охта-рок». Даты концертов можно	найти в специальном разделе на сайте. Приходите, будем жечь! \mm/
		article
			h2 Atrina после Авроры
			time(datetime="2013-05-03") 3&nbsp;мар 2014
			p Группа Atrina выражает благодарность всем пришедшим! Фото и видео можно увидеть на сайте и в группе в ВК. Надеемся, что в ближайшее время сможем вас порадовать новыми концертами, песнями и положительными эмоциями.
		article
			h2 Atrina 28
			time(datetime="2013-25-02") 25 фев 2014
			p Группа Atrina выступает на отборочном этапе «Мышка фест» в Клубе Аврора! Концерт состоится 3 марта. Мы начинаем в 22:40. Приходите поддержать нас!
		article
			h2 С Новым годом!
			time(datetime="2013-11-07T08:23:11+04:00") 30 дек 2013
			p Группа Atrina поздравляет всех вас с Новым годом! Так же нам хотелось бы поделиться своими планами. В ближайшее время дадим коцерт и начнем запись.
		a(href="news2.html" class="before" alt="before") 
			div(class="arrow before")
	aside
		include ../widgets/rider.jade
		include ../widgets/video.jade