extends ../layout.jade
block vars
	- var title = 'Atrina | Новости'
	- var theme = 'news'
block content
	aside
		include ../widgets/albums.jade
		include ../widgets/merch.jade
	.main
		h1 Новости
		article
			h2 Последние новости
			time(datetime="2013-19-04") 19&nbsp;апр 2014
			p Привет! Группа Atrina вчера выиграла рок-фест ИТМО. Спасибо тем, кто был с нами! Фоточки/видосики будут как только, так сразу. Всем суперкоза \mm/
		article
			h2 Atrina 28
			time(datetime="2013-05-29") 29&nbsp;мар 2014
			p Всем YO! Вчера (28 марта) группе Atrina стукнул год (вернее самому названию). Почему мы сообщаем об этом только сейчас? Потому что свой небольшой праздник мы провели на студии! Скоро выложим то, что записали + небольшой видеоотчет
		a(href="news4.html" class="before")
			div(class="arrow before")
		a(href="news2.html" class="next")
			div(class="arrow next")
	aside
		include ../widgets/rider.jade
		include ../widgets/video.jade