extends ../layout.jade
block vars
	- var title = 'Atrina | Новости'
	- var theme = 'news'
block content
	aside
		include ../widgets/albums.jade
		include ../widgets/merch.jade
	.main
		h1 Новости
		article
			h2 Atrina promo video
			time(datetime="2013-04-06") 6&nbsp;апр 2014</time>
			p. Приветствуем! Мы выпустили первый трек, с которым вы можете ознакомиться в нашей группе в ВК. И промо ролик, с которым вы можете ознакомиться там же. Так же создали Instagram аккаунт, куда будем периодически сбрасывать интересные фотки. В этом месяце мы дадим минимум 2 концерта, один из них(18 апреля) будет, к сожалению, только для тех, у кого есть доступ в ИТМО, поэтому те, кто там не учатся - приходите 12 апреля (информация о месте есть на сайте в соответствующем разделе и в группе в ВК). 12 апреля мы отыграем не совсем обычную для нас программу, так что Welcome! Отдельную благодарность выражаем <a href="http://vk.com/alexsey_zikul" target="_blank">Алексею Зикулу</a> за помощь в подготовке! И рекомендуем ознакомиться с творчеством групп, в которых он играет (Efedra,Akrida)! До встречи!
		a(href="news1.html" class="before")
			div(class="arrow before")
		a(href="news1.html" class="next")
			div(class="arrow next")
	aside
		include ../widgets/rider.jade
		include ../widgets/video.jade