extends ../layout.jade
block vars
	- var title = 'Atrina | Фото'
	- var theme = 'photo'
	- var onTop = true
block content
	aside
		include ../widgets/concert.jade
		include ../widgets/merch.jade
	.main
		h1 Фото и видео
	
		h2 Фото
		a(href="photo230614.html" class="photoAlbum")
			img(src="https://pp.vk.me/c619825/v619825622/1286a/Zigpe0uGQSQ.jpg")
			div Captain Drake Fest. 23.06.14
	
		a(href="photo140714.html" class="photoAlbum")
			img(src="https://pp.vk.me/c620531/v620531662/14cdb/V_XAVL4UtiE.jpg")
			div Captain Drake Fest. 14.07.14
	
		a(href="photo180414.html" class="photoAlbum")
			img(src="https://pp.vk.me/c619825/v619825622/12873/oZO582H8LpE.jpg")
			div Рок-фест ИТМО
	
		a(href="photo030314.html" class="photoAlbum")
			img(src="https://pp.vk.me/c608930/v608930644/2b22/quo3F_7R6s0.jpg")
			div Мышка-фест. Отборочный. 3.03.14
	
		h2 Видео
		a(class="videoPreview" href="http://www.youtube.com/watch?v=LVgfyFIFPBw" rel="mediaVideo" title="Мария Тронина - сильней любите")
			img(src="https://pp.vk.me/c308731/u11608644/video/l_08b8b812.jpg")
			div Мария Тронина - сильней любите
	aside
		include ../widgets/rider.jade
		include ../widgets/albums.jade